<!DOCTYPE html>
<html>
  <head>
    <title>Highway 80 road conditions - Alexa Skill</title>
    <meta name="description" content="Bay Area Air quality index Alexa Skill">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <img src="https://cdn.glitch.com/b0c90c44-baa4-4fe6-a488-840bf3e737ff%2Ftree-view-2.jpg?1522262398162" alt="tree in sunset for the mood" />
    
    <header>
      <h2>
        Highway 80 road conditions as Alexa Skill.<br>
      </h2>
      <h4>
        Be strong my friend.
      </h4>
    </header>

    <main>
      <section>
        <div style="white-space:pre;border:1px solid black;margin:5px;padding:5px;font-family:monospace;">
App: <%=JSON.stringify(app, null, 2)%>

Schema:
<%=schema%>

Utterances:
<%=utterances%>
        </div>
      </section>
    </main>

    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
  </body>
</html>